// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #6b55ff;
$info: #ee609c;
$min-contrast-ratio: 3;
$card-border-width: 0;
$card-border-radius: 1.875rem;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 3.1. Merge the maps

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
body {
  #home-view,
  #admin-view {
    background: radial-gradient(
      circle,
      rgba(35, 90, 191, 1) 0%,
      rgba(35, 90, 191, 1) 0%,
      rgba(0, 9, 27, 1) 100%
    );

    .container {
      //line-height: 0;

      .card {
        //Все карточки проекта
        background-color: #1a438e;
        color: #fff;

        &::after {
          content: " ";
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 1.875rem;
          box-shadow: 0 0 2rem 0 rgba(255, 255, 255, 50%) inset;
          z-index: 0;
        }

        .btn {
          position: relative;
          z-index: 1;
        }
      }

      .project-large-card-container {
        //Большие карточки
        $large-card-width: 15rem;
        $large-card-height: 22.5rem;
        $large-card-image-height: 8.5rem;
        position: relative;
        width: $large-card-width;
        height: $large-card-height;
        margin: 0.375rem;

        .card {
          position: absolute;
          width: $large-card-width;
          height: $large-card-height;
          overflow: hidden;

          .card-img-top {
            height: $large-card-image-height;
          }

          .card-body {
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .project-description {
              height: $large-card-height - $large-card-image-height - 2.375rem -
                3rem;
              overflow-y: hidden;
            }
          }
        }

        .card-front-side {
          //Лицевая сторона большой карточки
          transition: transform 0.6s;
          z-index: 1;

          .card-body {
            height: calc(100% - $large-card-image-height);
          }
        }
        .card-back-side {
          //Обратная сторона большой карточки
          transition: transform 0.6s;
          transform: rotateY(-180deg);
          z-index: 0;

          .card-body {
            height: 100%;
          }
        }

        &.project-large-card-flipped {
          .card-front-side {
            //Повернутая лицевая сторона большой карточки
            transform: rotateY(-180deg);
            z-index: 0;
          }
          .card-back-side {
            //Повернутая обратная сторона большой карточки
            background-color: #661a8e;
            transform: rotateY(-360deg);
            z-index: 1;
          }
        }
      }

      .project-small-card-container {
        //Маленькие карточки
        $small-card-height: 5rem;
        $small-card-image-width: 8.5rem;
        width: 100%;
        height: $small-card-height;
        margin: 0.375rem 0;
        background-color: rgba(255, 255, 20, 0.5);
        perspective: 100rem;

        .project-small-card {
          position: relative;
          height: $small-card-height;
          transition: all 0.5s;
          transform-style: preserve-3d;

          .small-card-face {
            background-color: #661a8e;
            width: 100%;
            height: $small-card-height;
            position: absolute;
            transition: all 0.5s;
            transform-style: preserve-3d;
          }

          .small-card-first-face {
            background-color: #1a438e;
            transform: translateZ(2.5rem);
          }
          .small-card-second-face {
            transform: rotateX(-90deg) translateZ(2.5rem);
          }
          .small-card-third-face {
            transform: rotateX(180deg) translateZ(2.5rem);
          }
          .small-card-fourth-face {
            transform: rotateX(90deg) translateZ(2.5rem);
          }
        }
      }
    }
  }

  //Глобальные стили
  .btn-round {
    width: 2.375rem;
    height: 2.375rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    line-height: 1;
    border-radius: 50%;
  }
}
